  {% if doc.header == 'header--main' %}
  <transition name="header-main-animation" :duration="{ enter: 2900, leave: 3900 }">
    <header class="header header--main"
            v-show="stateService.getIndex() !== 0">
        <a href="/" class="header__logo">
          <svg class="header__logo-icon" viewBox="0 0 33 30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="logo" transform="translate(1.000000, 1.000000)" stroke="#374650" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
              <g class="rim" transform="translate(0.000000, 22.630137)" stroke-width="1.53424658">
                <polyline class="stroke-1" points="0.267573917 4.81209159 15.781389 4.81209159 30.8301926 4.81209159"></polyline>
                <polyline class="stroke-2" points="0.267573917 0.240663014 15.781389 0.240663014 30.8301926 0.240663014"></polyline>
              </g>
              <g class="m-initial" transform="translate(0.473611, 0.013714)" stroke-width="1.53424658">
                <polyline class="stroke-3" points="30.1241048 18.1302571 30.1241048 0.271971429 15.0753011 18.1302571"></polyline>
                <polyline class="stroke-4" points="0.0263815741 18.1302571 0.0263815741 0.271971429 15.0751852 18.1302571"></polyline>
              </g>
              <g class="horn" transform="translate(9.871204, 0.013714)" stroke-width="1.53424658">
                <path class="stroke-5" d="M11.1502327,6.76628571 L5.67765057,0.272"></path>
                <path class="stroke-6" d="M0.204807528,6.76628571 L5.67767956,0.272"></path>
              </g>
            </g>
          </svg>
        </a>
        <span class="header__tagline">{{_(doc.tagline)}}</span>

        <div class="header__mobile__menu">
          <svg @click="isMobileMenuActive = 'true'" class="header__mobile__menu__icon" viewBox="0 0 20 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="menu__icon__group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect class="menu__icon__line" x="0" y="14" width="20" height="2" rx="1"></rect>
              <rect class="menu__icon__line" x="0" y="7" width="20" height="2" rx="1"></rect>
              <rect class="menu__icon__line" x="0" y="0" width="20" height="2" rx="1"></rect>
            </g>
          </svg>

          <svg @click="isMobileMenuActive = 'false'" :class="{ active: isMobileMenuActive }" class="header__mobile__menu__close__icon" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="close__icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect class="close__icon__line" transform="translate(8.000000, 8.000000) rotate(-315.000000) translate(-8.000000, -8.000000) " x="-2" y="7" width="20" height="2" rx="1"></rect>
              <rect class="close__icon__line" transform="translate(8.000000, 8.000000) scale(-1, 1) rotate(-315.000000) translate(-8.000000, -8.000000) " x="-2" y="7" width="20" height="2" rx="1"></rect>
            </g>
          </svg>

          <ul class="header__mobile__menu__wrapper" :class="{ active: isMobileMenuActive }">
            {% for item in g.docs('pages') %}
              {% if item.url.path == '/' %}
                {% set item_class = 'home' %}
              {% else %}
                {% set item_class = item.url.path|replace("/", "")|replace("case-study", "") %}
              {% endif %}
              <li class="header__mobile__menu__item header__mobile__menu__item--{{item_class}}{% if doc == item %} header__mobile__menu__item--active{% endif %}">
                <a href="{{item.url.path}}" class="delay-transition" data-delay="3000">{{item.title}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </header>
  </transition>
  {% endif %}
