{% import "/views/macros/_background-images.html" as background_images with context %}

<header class="header header--case-study">
  {% if doc.header.background_images %}
  {{background_images.background_images('header__background-images background-images--case-study', doc.header.background_images)}}
  {% endif %}
  <div class="header__back-home">
    <a href="/" class="header__back-home__link{% if doc.header.delayExit %} delay-transition{% endif %}"{% if doc.header.delayExit %} data-delay="{{doc.header.delayExit}}"{% endif %}></a>
  </div>

  {% include "/views/components/_header-mobile-menu.html" %}

  <div class="header__container">
    <div class="header__headings">
      <h1 class="header__title">{{ doc.header.title }}</h1>
      <div class="header__subtitle">{{ doc.header.subtitle }}</div>
    </div>

    {% if doc.header.services %}
    <ul class="header__services">
        {% for service in doc.header.services %}
        <li class="header__service">{{ service.label }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if doc.header.project_links %}
    <ul class="header__project-links">
        {% for link in doc.header.project_links %}
        <li class="header__project-link">
          <a class="link link--header" href="{{ link.url }}">{{ link.label }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</header>
