/**
 * Animations
 */ 

@mixin animated(){
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 6.5s;
  animation-timing-function: ease-in;
}

@mixin bounceInUp() {
  @include animated();
  animation-name: bounceInUp;
}

.main-header {
  animation: fadeIn 0.5s forwards 0.5s ease-in, 
             fadeOut 0.5s forwards 6s ease-out;
/*   animation: fadeIn 0.5s forwards 0.5s ease-in; */
}

.text {
  animation: stroke $time infinite linear;
}

.gravatar {
  @include bounceInUp();
  animation-delay: 6.5s;
}

.name {
  animation: fadeIn 0.5s forwards 6.75s ease-in;
}

.occupation {
  animation: fadeIn 0.5s forwards 6.75s ease-in;
}

.biography {
  animation: fadeIn 0.5s forwards 6.75s ease-in;
}

.twitter {
  animation: fadeIn 0.5s forwards 6.75s ease-in;
}

.medium {
  animation: fadeIn 0.5s forwards 6.75s ease-in;
}

.codepen {
  animation: fadeIn 0.5s forwards 6.75s ease-in;
}

.github {
  animation: fadeIn 0.5s forwards 6.75s ease-in;
}

.contact {
  animation: fadeIn 0.5s forwards 6.75s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 300px, 0);
  }

  70% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}