/**
 * Typography
 *  
 */

body{
  font: normal normal 300 16px/1.5 'Neuton', serif;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p,
ul {
    font-size: 1.5em;
}
