/**
 * Variables
 */

/**
 * @section Typography
 */
$base-font: 20px;
$line-height: 1.5;
$serif: 'Neuton', serif;
$sans-serif: 'Lato', sans-serif;

/**
 * @section Colors
 */
$harvest-gold: hsl(38, 63%, 65%);
$zombie: hsl(49, 54%, 75%);
$dark-sea-green: hsl(120, 32%, 68%);
$patina: hsl(149, 21%, 51%);
$abbey: hsl(247, 5%, 32%);

$colors: $harvest-gold, $dark-sea-green, $zombie, $patina, $abbey;

/**
 * @section Greeting settings
 */
$max: length($colors);
$dash: 40;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;