/* ==========================================================================
   Header
   ========================================================================== */

.header
  width: 100%
  position: absolute
  z-index: 1
  user-select: none

  &--main
    top: 0
    height: auto
    display: flex
    padding: $global-spacing-lg
    flex-direction: column
    justify-content: center
    align-items: center

    +lg
      height: 150px
      flex-direction: row
      padding: $global-spacing-xl

  &__logo
    width: 33px
    height: 30px
    margin-bottom: $global-spacing-md

    +lg
      position: absolute
      top: $global-spacing-xl
      left: $global-spacing-xl
      margin-bottom: 0

  &__tagline
    display: flex
    justify-content: center
    align-items: center
    font-family: $global-serif
    font-style: italic
    font-size: 12px
    text-align: center
    position: relative
    max-width: 180px

    &::before,
    &::after
      content: ''
      display: block
      height: 1px
      width: 30px
      background-color: $global-color-dark-blue
      position: absolute
      top: 50%
      transform: translateY(-50%)

    &::before
      left: -30px

    &::after
      right: -30px

    +md
      max-width: none

      &::before,
      &::after
        width: 30px

      &::before
        left: -45px

      &::after
        right: -45px

  &--case-study
    position: relative
    height: 50vh
    +lg
      min-height: 460px

    .header
      &__container
        display: flex
        height: 100%
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
        z-index: 2
        +md
          padding: 0 100px
          margin: 0 auto
          align-items: flex-start

        +lg
          padding: 0
          max-width: 750px

      &__headings
        margin-bottom: 10px

      &__title,
      &__subtitle,
      &__services li,
      &__project-links li,
      &__project-links li a
        color: $global-color-white

      &__title,
      &__subtitle
        text-align: center
        +md
          text-align: left

      &__title
        font-size: em-calc(48px)
        margin-bottom: 10px

      &__subtitle
        font-size: em-calc(24px)

      &__services,
      &__project-links
        display: none
        width: auto
        list-style: none
        flex-direction: column
        justify-content: center
        align-items: center
        +md
          display: flex
          flex-direction: row
          position: absolute
          top: 60px

        li
          position: relative
          font-size: em-calc(16px)
          +md
            font-size: em-calc(12px)

      &__services
        justify-content: flex-start
        padding: 0 em-calc(40px)
        +md
          left: 100px
          padding: 0
        +lg
          left: 0

        li
          text-align: center

          +md
            margin-right: 12px
            text-align: left

            &::after
              content: '•'
              display: flex
              position: absolute
              top: 50%
              right: -8px
              transform: translate(0, -50%)
              color: inherit

            &:last-child
              margin-right: 0

              &::after
                display: none

      &__project-links
        right: 0
        justify-content: flex-end
        +md
          right: 100px
        +lg
          right: 0

        li
          margin-left: 12px

          &::before
            content: '|'
            display: flex
            position: absolute
            top: 50%
            left: -9px
            transform: translate(0, -50%)
            color: inherit

          &:first-child
            margin-left: 0

            &::before
              display: none

      &__back-home
        position: absolute
        top: 5vh
        left: 50%
        z-index: 3
        margin-left: -16.5px

        +md
          top: 60px
          left: 60px

        &__link
          display: flex
          width: 33px
          height: 30px
          background-image: url('/images/mikeking_logo_icon.white.svg')
          background-repeat: no-repeat
          background-position: center
          background-size: contain

    .background-images
      &--case-study
        +case-study__header-mask

      &__image
        background-size: cover
