/* ==========================================================================
   Header
   ========================================================================== */

.header
  width: 100%
  position: absolute
  z-index: 1
  user-select: none

  &--main
    top: 0
    height: auto
    display: flex
    padding: $global-spacing-lg
    flex-direction: column
    justify-content: center
    align-items: center

    +md
      height: 150px
      flex-direction: row
      padding: $global-spacing-xl

  &__logo
    width: 33px
    height: 30px
    margin-bottom: $global-spacing-md

    +md
      position: absolute
      top: $global-spacing-xl
      left: $global-spacing-xl
      margin-bottom: 0

  &__tagline
    display: flex
    justify-content: center
    align-items: center
    font-family: $global-serif
    font-style: italic
    font-size: 12px
    text-align: center
    position: relative
    max-width: 180px

    &::before,
    &::after
      content: ''
      display: block
      height: 1px
      width: 30px
      background-color: $global-color-dark-blue
      position: absolute
      top: 50%
      transform: translateY(-50%)

    &::before
      left: -30px

    &::after
      right: -30px

    +md
      max-width: none

      &::before,
      &::after
        width: 30px

      &::before
        left: -45px

      &::after
        right: -45px

  &--custom
    top: 50%
    transform: translateY(-50%)
    text-align: center

  &--mike-king
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &--case-study
    position: relative

  &__title,
  &__subtitle
    color: $global-color-dark-blue
    +fade-in-up

  &__title
    font-size: em-calc(64px)
    margin-bottom: 0
    animation-delay: 300ms

    @media #{$medium-screen}
      font-size: em-calc(64px)


  &__subtitle
    font-size: em-calc(36px)
    font-family: $global-sans-serif
    font-weight: 300
    animation-delay: 500ms

.canvas
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 0
  background-color: #FFF
  +fade-in
