/* ==========================================================================
   Header
   ========================================================================== */
$menu-transition-speed: 300ms
$number-of-menu-items: 2

.header
  width: 100%
  position: absolute
  z-index: 1
  user-select: none

  &--main
    top: 0
    height: auto
    display: flex
    padding: $global-spacing-lg
    flex-direction: column
    justify-content: center
    align-items: flex-start
    z-index: 3

    +md
      height: 150px
      flex-direction: row
      padding: $global-spacing-xl
      align-items: center

  &__logo
    position: relative
    width: 33px
    height: 30px
    margin-bottom: $global-spacing-md
    z-index: 2
    opacity: 1.0

    &[href]
      transition-delay: ($menu-transition-speed * ($number-of-menu-items + 1))

    &.active
      opacity: 0

    +md
      position: absolute
      top: $global-spacing-xl
      left: $global-spacing-xl
      margin-bottom: 0

  &__tagline
    display: flex
    justify-content: center
    align-items: center
    font-family: $global-serif
    font-style: italic
    font-size: 12px
    text-align: center
    position: relative
    width: 100%
    max-width: 180px
    margin: $global-spacing-md auto 0

    &::before,
    &::after
      content: ''
      display: block
      height: 1px
      width: 30px
      background-color: $global-color-dark-blue
      position: absolute
      top: 50%
      transform: translateY(-50%)

    &::before
      left: -30px

    &::after
      right: -30px

    +md
      max-width: none
      width: auto

      &::before,
      &::after
        width: 30px

      &::before
        left: -45px

      &::after
        right: -45px

  &--case-study
    position: relative
    height: 50vh
    z-index: 3
    +lg
      min-height: 460px

    .header
      &__container
        display: flex
        height: 100%
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
        z-index: 2
        +md
          padding: 0 100px
          margin: 0 auto
          align-items: flex-start

        +lg
          padding: 0
          max-width: 750px

      &__headings
        margin-bottom: 10px

      &__title,
      &__subtitle,
      &__services li,
      &__project-links li,
      &__project-links li a
        color: $global-color-white

      &__title,
      &__subtitle
        text-align: center
        +md
          text-align: left

      &__title
        font-size: em-calc(48px)
        margin-bottom: 10px

      &__subtitle
        font-size: em-calc(24px)

      &__services,
      &__project-links
        display: none
        width: auto
        list-style: none
        flex-direction: column
        justify-content: center
        align-items: center
        +md
          display: flex
          flex-direction: row
          position: absolute
          top: 60px

        li
          position: relative
          font-size: em-calc(16px)
          +md
            font-size: em-calc(12px)

      &__services
        justify-content: flex-start
        padding: 0 em-calc(40px)
        +md
          left: 100px
          padding: 0
        +lg
          left: 0

        li
          text-align: center

          +md
            margin-right: 12px
            text-align: left

            &::after
              content: '•'
              display: flex
              position: absolute
              top: 50%
              right: -8px
              transform: translate(0, -50%)
              color: inherit

            &:last-child
              margin-right: 0

              &::after
                display: none

      &__project-links
        right: 0
        justify-content: flex-end
        +md
          right: 100px
        +lg
          right: 0

        li
          margin-left: 12px

          &::before
            content: '|'
            display: flex
            position: absolute
            top: 50%
            left: -9px
            transform: translate(0, -50%)
            color: inherit

          &:first-child
            margin-left: 0

            &::before
              display: none

      &__back-home
        position: absolute
        top: $global-spacing-lg
        left: $global-spacing-lg
        z-index: 4

        +md
          top: 60px
          left: 60px
          margin-left: -16.5px

        &__link
          display: flex
          width: 33px
          height: 30px
          background-image: url('/images/mikeking_logo_icon.white.svg')
          background-repeat: no-repeat
          background-position: center
          background-size: contain

    .background-images
      &--case-study
        +case-study__header-mask

      &__image
        background-size: cover

    .header__mobile-nav
      z-index: 3

      &.active
        z-index: 5

      &__menu__icon
        .menu__icon__line
          fill: $global-color-white

  &__mobile-nav
    position: absolute
    top: $global-spacing-lg
    right: $global-spacing-lg
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: flex-end
    z-index: 1

    &.active
      z-index: 3

    +md
      display: none

    &__menu__icon
      width: 25px
      height: 20px

      .menu__icon__line
        fill: $global-color-dark-blue

    &__close

      &__button
        position: absolute
        top: $global-spacing-lg
        right: $global-spacing-lg
        z-index: 1001
        opacity: 0
        transform: translateY(-20%)
        transition: all $menu-transition-speed ease
        transition-delay: ($menu-transition-speed * $number-of-menu-items)

      &__icon
        width: 20px
        height: 20px

        .close__icon__line
          fill: $global-color-dark-blue

    &__menu
      position: fixed
      top: 0
      right: 0
      width: 100%
      height: 100%
      background-color: $global-color-white
      display: flex
      flex-direction: column
      align-items: center
      padding-top: 100px
      overflow: hidden
      transition: all 500ms ease
      opacity: 0
      transform: translate(0, -100%)
      transition: opacity ($menu-transition-speed * 2) ease ($menu-transition-speed * ($number-of-menu-items + 1)), transform 10ms ease ($menu-transition-speed * ($number-of-menu-items + 2))

      &__button
        margin-top: 3px

      &.active
        z-index: 1000
        opacity: 1.0
        transform: translateY(0)
        transition-delay: 0
        transition: opacity ($menu-transition-speed * 2) ease

        .header__mobile
          &__menu__item
          opacity: 1.0
          transform: translateY(0)

          &-nav
            &__close__button
              display: block
              opacity: 1.0
              transform: translateY(0)
              transition-delay: $menu-transition-speed + ($menu-transition-speed * ($number-of-menu-items + 1))

            &__item
              opacity: 1.0
              transform: translateY(0)

              @for $i from 1 through $number-of-menu-items
                &:nth-child(#{$i})
                  transition-delay: $menu-transition-speed + ($menu-transition-speed * $i)

    &__items
      display: flex
      flex-direction: column
      align-items: center
      list-style: none
      font-size: 24px
      font-family: $global-serif
      font-weight: $global-serif-weight-bold

    &__item
      text-align: center
      margin-bottom: $global-spacing-md
      opacity: 0
      transform: translateY(20%)
      transition: all $menu-transition-speed ease

      @for $i from 1 through $number-of-menu-items
        &:nth-child(#{$i})
          transition-delay: ($menu-transition-speed * ($i - 1))

      &--active
        position: relative

        &::before
          display: block
          content: ''
          position: absolute
          left: 0
          bottom: 15px
          width: 100%
          height: 1px
          background-color: $global-color-dark-blue

      &:last-child
        margin-bottom: 0
