/* ==========================================================================
   Navigation
   ========================================================================== */


.nav
  width: 100%
  display: flex
  position: absolute
  z-index: 2

  &--main
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 0 em-calc($global-spacing-lg)
    display: none

    +md
      display: initial

    +lg
      padding: 0 em-calc($global-spacing-lg)

    +xl
      padding: 0 em-calc($global-spacing-xl)

  &__items
    user-select: none
    position: relative
    list-style: none
    width: 100%

    &__item

      a
        display: inline-block
        color: $global-color-dark-blue

      &--about,
      &--contact
        position: absolute

        a
          transform: rotate(-90deg)
          padding: $global-spacing-xs

      &--about
        +fade-in-up
        animation-delay: 900ms + $case-study-header-delay
        a
          padding-top: 0

      &--contact
        +fade-in-down
        animation-delay: 900ms + $case-study-header-delay
        right: 0
        a
          padding-bottom: 0

  &--pagination
    bottom: $global-spacing-lg
    justify-content: center

  &__down-arrow
    display: flex
    width: 29px
    height: 51px
    background-image: url('/images/icons/down-arrow.svg')
    background-repeat: no-repeat
    background-size: contain
    +fade-in-down
    animation-delay: 1100ms + $case-study-header-delay

    &:hover
      cursor: pointer
