/* ==========================================================================
   Section
   ========================================================================== */

.section
  position: relative

  &__container
    height: 100%
    padding: em-calc(50px) em-calc(40px)

    +md
      padding: em-calc(100px) em-calc(180px)

  &__columns
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    +md
      flex-direction: row

    &__column
      width: 100%
      flex: 1

      &--columns-offset
        flex: 2
        +lt($global-screen-size-medium)
          display: flex
          justify-content: center
          align-items: center

        &.column--order--1,
        &.column--order--2
          .chapter
            &__body
              max-width: 430px
              +lt($global-screen-size-medium)
                font-size: 16px
                margin-top: 100px
                margin-bottom: 0

        &.column--order--1
          .chapter
            align-items: flex-end
            &__body
              +md
                padding-right: 50px

        &.column--order--2
          .chapter
            align-items: flex-start
            &__body
              +md
                padding-left: 50px

      &--body-large
        .chapter__body
          font-size: em-calc(24px)

      &--single-column
        margin: 0 auto

        .chapter
          &__title,
          &__body,
          &__images,
          &__ctas
            text-align: center

          &__body
            max-width: 700px

    .column
      @for $i from 1 through 8
        &--order--#{$i}
          order: $i

        &--mobile-order--#{$i}.section__columns__column
          +lt($global-screen-size-medium)
            order: $i

  &--bg-image
    .section__container
      padding: 0

    .chapter
      min-height: 50vh
      +lt($global-screen-size-medium)
        padding: $global-spacing-xl $global-spacing-md

      +md
        height: (600px / 1440px) * 100vw

      +lg
        min-height: 600px

      &__title
        +lt($global-screen-size-medium)
          max-width: 90%
          margin-bottom: $global-spacing-lg

      &__body
        +lt($global-screen-size-medium)
          margin-bottom: 0px

      .background-images__image
        background-size: cover

  &--min-height-600
    .section__columns
      min-height: 420px // Account for container padding

  &--offset-max-width
    .section
      &__container
        +lt($global-screen-size-medium)
          padding-top: em-calc(150px)
          padding-bottom: em-calc(120px)

      &__columns
        max-width: 750px
        margin: 0 auto

  &--padded
    .section__container
      padding: 0 $global-spacing-md
      +md
        padding: 0 $global-spacing-xl

  &--dark
    &.section--process
      background-color: $global-color-dark-blue
    .chapter
      &__title,
      &__body
        color: $global-color-white

  &--custom-animation
    height: 50vh
    overflow: hidden
    +md
      min-height: 600px
      height: (600px / 1440px) * 100vw

    .section__container,
    .section__elements
      position: relative
      width: 100%
      height: 100%
      padding: 0

  &--two-column-carousel
    .section__columns__column
      .chapter
        &__images
          margin-bottom: 0

        &__body
          max-width: 430px

      &:first-child
        margin-right: $global-spacing-lg

        .chapter
          align-items: flex-end

      &:last-child
        margin-left: $global-spacing-lg

        .chapter
          align-items: flex-start

  &--light-grey-bg
    background-color: $global-color-light-blue

  &--process
    +case-study__process-mask--mobile
    +md
      +case-study__process-mask

    .section
      &__container
        padding: em-calc(160px) em-calc(60px)

      &__title
        +footer__title
        font-style: normal
        margin-bottom: 100px
        user-select: none

      &__phases
        position: relative
        z-index: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        &__timeline
          display: flex
          width: 2px
          height: calc(100% - 150px)
          position: absolute
          bottom: 0
          left: 50%
          transform: translateX(-50%)
          background-color: $global-color-white
          z-index: 0

          &::before,
          &::after
            content: ''
            +process__phase__marker
            position: absolute
            left: 50%
            transform: translateX(-50%)

          &::before
            top: 0

          &::after
            bottom: 0

        &__phase
          position: relative
          flex: 1
          width: 100%
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          padding: em-calc($global-spacing-lg) 0
          z-index: 1

          +lt($global-screen-size-medium)
            +process__phase__hide_timeline

            &:nth-child(2)
              margin-top: 100px

          +md
            padding: em-calc(100px) 0
            flex-direction: row

          &::after
            content: ''
            +process__phase__marker
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            +lt($global-screen-size-medium)
              display: none

          &--insights
            position: relative
            padding: em-calc(50px) 0
            margin-top: em-calc(100px)
            margin-bottom: em-calc(100px)
            +process__phase__hide_timeline

            &::after
              display: none

            .section__phase__insights
              +process__phase__timeline__caps

            .chapter
              &__title
                font-size: em-calc(24px)
                font-style: italic
              &__body
                max-width: 900px
                font-size: em-calc(14px)
                columns: 2 auto
                margin-bottom: 0
                &__paragraph:last-child
                  margin-bottom: 0

          &--discovery,
          &--information-architecture,
          &--creative-direction,
          &--software-development

            .chapter__title
              position: relative

              &::before,
              &::after
                content: ''
                display: flex
                position: absolute
                background-position: center
                background-repeat: no-repeat
                background-size: contain
                top: 50%
                transform: translate(0,-50%)

            .background-images
              &__image
                max-width: 450px
                max-height: 275px
                background-size: contain
                background-position: center top
                +process__image--box-shadow
                +lt(1280px)
                  max-width: 80%
                  max-height: 139px

          &--discovery,
          &--creative-direction
            .chapter__title
              margin-left: 60px
              &::before
                left: -60px

          &--information-architecture,
          &--software-development
            .chapter__title
              margin-right: 60px
              &::before
                right: -60px

          &--discovery
            .chapter__title
              &::before
                width: 50px
                height: 49px
                background-image: url('/images/icons/magnifying-glass.svg')


          &--creative-direction
            .chapter__title
              &::before
                width: 49px
                height: 42px
                background-image: url('/images/icons/strategy.svg')

          &--information-architecture
            .chapter__title
              &::before
                width: 50px
                height: 60px
                background-image: url('/images/icons/wireframe.svg')

          &--software-development
            .chapter__title
              &::before
                width: 48px
                height: 43px
                background-image: url('/images/icons/engineering.svg')

          .left
            +md
              order: 1
              margin-right: $global-spacing-lg

            .chapter
              align-items: flex-end

              &__title,
              &__body
                text-align: right

          .right
            +md
              order: 2
              margin-left: $global-spacing-lg

            .chapter
              align-items: flex-start

              &__title,
              &__body
                text-align: left

      &__phase__work,
      &__phase__details
        position: relative
        flex: 1
        width: 100%
        height: 100%

      &__phase__work
        height: 395px
        +lt($global-screen-size-medium)
          order: 2

        .background-images
          height: 395px

          &__image
            top: unset
            right: unset
            bottom: unset
            left: unset

        &.left
          .background-images
            right: 0
            &__image
              @for $i from 1 through 3
                $increment: 3 - ($i - 1)
                &:nth-child(#{$increment})
                  bottom: (60px * ($i - 1))
                  right: (60px * ($i - 1))
                  z-index: 3 - ($i + 1)

        &.right
          .background-images
            left: 0
            &__image
              @for $i from 1 through 3
                &:nth-child(#{$i})
                  bottom: (60px * ($i - 1))
                  left: (60px * ($i - 1))
                  z-index: $i

      &__phase__details
        +lt($global-screen-size-medium)
          order: 1
          margin-bottom: $global-spacing-lg

        .chapter
          &__title
            +process__title

          &__body
            max-width: 500px
            margin-bottom: 0
            &__paragraph:last-child
              margin-bottom: 0

    &__canvas
      background-color: transparent
