/* ==========================================================================
   GoHawaii Page
   ========================================================================== */

.gohawaii

  .chapter__background-images
    .monsterra-leaf
      width: 279px
      height: 353px
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
