/* ==========================================================================
   Home Page
   ========================================================================== */

.home
  overflow: hidden

  .main,
  .case-study
    display: flex
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1

  .case-study
    justify-content: center
    align-items: center

    &__container
      width: 75vw
      height: 50vw
      position: relative
      flex: 0 1 auto

      +md
        width: 67.5vw
        height: 45vw

      +lg
        width: 600px
        height: 400px

    &__background-images
      z-index: 0

      .background-images__image--offset
        z-index: -1
        top: 15px
        left: 15px

        +md
          top: 22.5px
          left: 22.5px

        +lg
          top: 30px
          left: 30px

        &::after
          content: ''
          display: flex
          position: absolute
          width: 100%
          height: 100%
          z-index: -1
          top: 0
          left: 0
          background-color: $global-color-light-blue

    &__content
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 1
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column

    &__inner-content
      display: flex

    &__title,
    &__subtitle
      user-select: none
      margin-bottom: 0
      text-align: center

      +lg
        position: absolute
        left: -50px
        text-align: left

    &__title
      font-size: em-calc(37px)
      line-height: 1.25
      margin-bottom: em-calc($global-spacing-xs)

      +md
        font-size: em-calc(42px)
        line-height: $global-line-height

      +lg
        font-size: em-calc(48px)
        top: 50px

    &__subtitle
      font-size: em-calc(20px)
      padding-left: 30px
      padding-right: 30px

      +md
        font-size: em-calc(22px)
        padding-left: 60px
        padding-right: 60px
        top: 122px
        margin-bottom: 15px

      +lg
        font-size: em-calc(24px)
        padding-left: 0
        padding-right: 0
        top: 122px

    &__cta,
    .case-study__inner-content
    .cta__item
      +lt($global-screen-size-medium)
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        width: 100%
        height: 100%
        z-index: 10

        .cta-button__label
          display: none

    &__cta
      user-select: none

      +lg
        display: flex
        position: absolute
        bottom: 50px
        right: -50px
        text-align: right

        .case-study__inner-content
          &::before
            content: ''
            display: block
            height: 1px
            width: 30px
            background-color: $global-color-dark-blue
            position: absolute
            bottom: -#{$global-spacing-xs}
