/* ==========================================================================
   Tour Aloha Page
   ========================================================================== */

$custom-elements: 25

.tour-aloha

  .chapter__background-images
    .map-marker
      width: 60%
      height: 261px
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)

      +md
        width: 167px

  .section--process
    .section__phases__phase--project-management
      .section__phase__work.left
        .background-images__image--pm-1
          +md
            right: 0
            bottom: 50%
            margin-bottom: -25%
            max-height: 33vh

          +lg
            max-width: 580px
            max-height: 334px
            margin-bottom: -40%

  .section
    &--custom-animation
    .section
      &__elements
        height: 100%

      &__element
        position: absolute
        top: 0
        left: 0

        &--map-marker
          width: 33px
          height: 52px
          top: 0
          left: 0

          &:hover
            cursor: pointer

        &--map-popup
          display: none
          width: 264px
          height: 148px
          top: 0
          left: 0
          z-index: 100

          .background-images__image
            +process__image--box-shadow

          &.active
            display: block

            .section__element__background-images
              +fade-in-up


  .inview
    &.section
      &--custom-animation
        .section__element--map-marker
          +fade-in-up
          @for $i from 1 through $custom-elements
            &:nth-child(#{$i})
              animation-delay: $base-animation + ($base-animation / 2 * $i)
