/**
 * Layout
 */
html, 
body {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 28em;
  margin: 0 auto;
}

.main-content {
  text-align: center;
  padding: em-calc(60px) 0 0;
}

.social li {
  list-style: none;
}

.gravatar {
  border-radius: em-calc(240px);
  width: em-calc(120px);
  height: em-calc(120px);

  @media #{$medium-screen} {
    // Wish there was a way type-scale(1)
    // didn't have to be hard-coded
    $context: (($base-font / 1px) * (type-scale(1) / 1em)) * 1px;
    width: em-calc(180px, $context);
    height: em-calc(180px, $context);
  }
}


.gravatar,
.name,
.occupation,
.biography,
.twitter,
.medium ,
.codepen,
.github ,
.email {
  opacity: 0;
}