/* ==========================================================================
   Mixins
   ========================================================================== */

// Media Queries
=sm
  @media #{$small-screen}
    @content

=md
  @media #{$medium-screen}
    @content

=lg
  @media #{$large-screen}
    @content

=xl
  @media #{$xlarge-screen}
    @content

=rt
  @media #{$retina}
    @content

// Clearfix
=cf
 &:before,
 &:after
   content: ""
   display: table

 &:after
   clear: both

=case-study__header-mask
  clip-path: polygon(100% 0%, 0% 0%, 0% 86.956522%, 50% 100%, 100% 86.956522%)
